<html>

<mat-card class = "basic-container" style="background-color:#003333">
  <mat-toolbar-row>
    <span class = "version-info" style="color:#FFFF99;" >Photo</span> &nbsp;
    <span class = "version-info" style="color:#99FF00;" >Studio</span> &nbsp;
    <span class = "version-info1" style="color:#CCFF66;" >Team10</span>
    <span class="example-fill-remaining-space"></span>

    <a mat-button routerLink="." style="color:#FFFFFF;" routerLink="">LOGOUT</a>

  </mat-toolbar-row>
</mat-card>

<mat-toolbar style="background-color:#003330">
  <span style="color:#FFFFFF;">WELCOME TO PHOTO STUDIO</span>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <mat-button-toggle-group #group="matButtonToggleGroup" style="background-color:#FFFFFF">
    <mat-button-toggle value="left" style="color:#000000;" (click)="home()">Home</mat-button-toggle>
  </mat-button-toggle-group>&nbsp;
  <mat-button-toggle-group #group="matButtonToggleGroup" style="background-color:#FFFFFF">
    <mat-button-toggle value="left" style="color:#000000;" (click)="studio()">Reservation Studio</mat-button-toggle>
  </mat-button-toggle-group>&nbsp;
  <mat-button-toggle-group #group="matButtonToggleGroup" style="background-color:#FFFFFF">
    <mat-button-toggle value="left" style="color:#000000;" (click)="equipment()">Reservation Equipment</mat-button-toggle>
  </mat-button-toggle-group>&nbsp;
  <mat-button-toggle-group #group="matButtonToggleGroup" style="background-color:#FFFFFF">
    <mat-button-toggle value="left" style="color:#000000;" (click)="photo()">Reservation Photographer</mat-button-toggle>
  </mat-button-toggle-group>&nbsp;
  <mat-button-toggle-group #group="matButtonToggleGroup" style="background-color:#FFFFFF">
    <mat-button-toggle value="left" style="color:#000000;" (click)="collect()">Reservatoion Photo Collection</mat-button-toggle>
  </mat-button-toggle-group>&nbsp;
  <mat-button-toggle-group #group="matButtonToggleGroup" style="background-color:#FFFFFF">
    <mat-button-toggle value="left" style="color:#000000;" (click)="model()">Reservation model</mat-button-toggle>
  </mat-button-toggle-group>&nbsp;

  <mat-divider></mat-divider>
</mat-toolbar>
<mat-toolbar style="background-color:#003330">
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <mat-button-toggle-group #group="matButtonToggleGroup" style="background-color:#FFFFFF">
    <mat-button-toggle value="left" style="color:#000000;" (click)="registerPhotography()">สมัครเรียนถ่ายรูป</mat-button-toggle>
  </mat-button-toggle-group>&nbsp;
  <mat-button-toggle-group #group="matButtonToggleGroup" style="background-color:#FFFFFF">
    <mat-button-toggle value="left" style="color:#000000;" (click)="payment()">Payment</mat-button-toggle>
  </mat-button-toggle-group>&nbsp;
  <mat-divider></mat-divider>
</mat-toolbar>

<body class = "databox" >
<br>
<mat-card class="example-card">
  <body class="cen">



  <mat-form-field style="width: 40%">
    <mat-select placeholder="หมายเลขการจองอุปกรณ์" [(ngModel)]="rent1Select" name="reservationequipment_id">
      <mat-option>None</mat-option>
      <mat-option *ngFor="let a of rent1s" [value]="a.reservationequipment_id" >
        {{a.reservationequipment_id}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>

  <mat-form-field style="width: 40%;">
    <mat-select placeholder="หมายเลขการจองนางแบบ" [(ngModel)]="rent2Select" name="reservationModel_id">
      <mat-option>None</mat-option>
      <mat-option *ngFor="let d of rent2s" [value]="d.reservationModel_id" >
        {{d.reservationModel_id}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>

  <mat-form-field style="width: 40%;">
    <mat-select placeholder="หมายเลขการจองสตูดิโอ" [(ngModel)]="rent3Select" name="reservationStudio_id">
      <mat-option>None</mat-option>
      <mat-option *ngFor="let c of rent3s" [value]="c.reservationStudio_id" >
        {{c.reservationStudio_id}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field style="width: 40%;">
    <mat-select placeholder="หมายเลขการจองช่างภาพ" [(ngModel)]="rent4Select" name="reservationphotographer_id">
      <mat-option>None</mat-option>
      <mat-option *ngFor="let b of rent4s" [value]="b.reservationphotographer_id" >
        {{b.reservationphotographer_id}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field style="width: 40%;">
    <mat-select placeholder="หมายเลขการจองชุด" [(ngModel)]="rent5Select" name="photocollection_id">
      <mat-option>None</mat-option>
      <mat-option *ngFor="let a of rent5s" [value]="a.photocollection_id" >
        {{a.photocollection_id}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>


  <mat-form-field  style="width: 40;">
    <input matInput placeholder="ราคาที่ต้องการชำระ" #input maxlength="4" [(ngModel)]="payment_total" [ngModelOptions]="{standalone: true}" type="text">
  </mat-form-field>

  <br>


  <mat-form-field style="width: 40%;">
    <mat-select  placeholder="ประเภทบัตร" [(ngModel)]="cardSelect" name="card_type">
      <mat-option>None</mat-option>
      <mat-option *ngFor="let a of cardtypes" [value]="a.id" >
        {{a.card_type}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <br>


  <mat-form-field style="width: 40%;">
    <input matInput placeholder="หมายเลขบัตร" #input maxlength="16" [(ngModel)]="card_id" [ngModelOptions]="{standalone: true}" type="text">
  </mat-form-field>

  <br>

  <mat-form-field  style="width: 40%;">
    <input matInput placeholder="ชื่อเจ้าของบัตร" [(ngModel)]="card_name" [ngModelOptions]="{standalone: true}" type="text">
  </mat-form-field>
  <br>

  <mat-form-field  style="width: 40%;">
    <input matInput #input maxlength="3" placeholder="CVV" [(ngModel)]="card_cvv" [ngModelOptions]="{standalone: true}" type="text">
  </mat-form-field>
  <br>
  <mat-form-field style="width: 40%;">
    <mat-select  placeholder="ธนาคารผู้ออกบัตร" [(ngModel)]="cardbankSelect" name="card_bank">
      <mat-option>None</mat-option>
      <mat-option *ngFor="let a of cbs" [value]="a.id" >
        {{a.card_bank}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>

  <br>

  <button mat-fab color="primary"  class="enter" (click)= "insert()">Enter</button>


  </body>
</mat-card>
<br>


</body>

</html>
