<html>

<mat-card class = "basic-container" style="background-color:#003333">
  <mat-toolbar-row>
    <span class = "version-info" style="color:#FFFF99;" >Photo</span> &nbsp;
    <span class = "version-info" style="color:#99FF00;" >Studio</span> &nbsp;
    <span class = "version-info1" style="color:#CCFF66;" >Team10</span>
    <span class="example-fill-remaining-space"></span>
    <a mat-button routerLink="." style="color:#FFFFFF;" routerLink="">LOGOUT</a>
  </mat-toolbar-row>
</mat-card>

<mat-toolbar style="background-color:#003330">
  <span style="color:#FFFFFF;">WELCOME TO PHOTO STUDIO</span>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <mat-button-toggle-group #group="matButtonToggleGroup" style="background-color:#FFFFFF">
    <mat-button-toggle value="left" style="color:#000000;" (click)="home()">Home</mat-button-toggle>
  </mat-button-toggle-group>&nbsp;
  <mat-button-toggle-group #group="matButtonToggleGroup" style="background-color:#FFFFFF">
    <mat-button-toggle value="left" style="color:#000000;" (click)="studio()">Reservation Studio</mat-button-toggle>
  </mat-button-toggle-group>&nbsp;
  <mat-button-toggle-group #group="matButtonToggleGroup" style="background-color:#FFFFFF">
    <mat-button-toggle value="left" style="color:#000000;"  (click)="equipment()">Reservation Equipment</mat-button-toggle>
  </mat-button-toggle-group>&nbsp;
  <mat-button-toggle-group #group="matButtonToggleGroup" style="background-color:#FFFFFF">
    <mat-button-toggle value="left" style="color:#000000;" (click)="photo()">Reservation Photographer</mat-button-toggle>
  </mat-button-toggle-group>&nbsp;
  <mat-button-toggle-group #group="matButtonToggleGroup" style="background-color:#FFFFFF">
    <mat-button-toggle value="left" style="color:#000000;" (click)="collect()">Reservatoion Photo Collection</mat-button-toggle>
  </mat-button-toggle-group>&nbsp;
  <mat-button-toggle-group #group="matButtonToggleGroup" style="background-color:#FFFFFF">
    <mat-button-toggle value="left" style="color:#000000;" (click)="model()">Reservation model</mat-button-toggle>
  </mat-button-toggle-group>&nbsp;
  <mat-divider></mat-divider>
</mat-toolbar>
<mat-toolbar style="background-color:#003330">
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <mat-button-toggle-group #group="matButtonToggleGroup" style="background-color:#FFFFFF">
    <mat-button-toggle value="left" style="color:#000000;" (click)="registerPhotography()">สมัครเรียนถ่ายรูป</mat-button-toggle>
  </mat-button-toggle-group>&nbsp;
  <mat-divider></mat-divider>
</mat-toolbar>

<body class = "databox">
<br>
<mat-card class="example-card">
  <h2 class="topic" style="color:#000000;">สมัครเรียนถ่ายรูป</h2>
  <div class="topic">
    <mat-form-field class="label">
      <mat-select  placeholder="เลือกผู้สอน" [(ngModel)]="instructorSelect">
        <mat-option *ngFor="let in of instructors" [value]="in.id">
          {{in.instructorName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field class="label">
      <mat-select  placeholder="เลือกกล้องถ่ายรูป" [(ngModel)]="camaraSelect">
        <mat-option *ngFor="let ca of camaras" [value]="ca.id">
          {{ca.camaraName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field class="label">
      <mat-select  placeholder="เลือกประเภทการถ่ายรูป" [(ngModel)]="photographyTypeSelect">
        <mat-option *ngFor="let pho of photographyTypes" [value]="pho.id">
          {{pho.photographyType}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field class="label">
      <mat-select  placeholder="เลือกระดับความสามารถของคุณ" [(ngModel)]="skillLevelSelect">
        <mat-option *ngFor="let skills of skillLevels" [value]="skills.id">
          {{skills.skill}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field class="label">
      <mat-select  placeholder="เลือกตารางเรียน" [(ngModel)]="studyTimeSelect">
        <mat-option *ngFor="let time of studyTimes" [value]="time.id">
          {{time.studyTime}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field class="label">
      <input matInput placeholder="ข้อความถึงทีมงาน" value="" [(ngModel)]="message">
    </mat-form-field>
    <br>
    <button mat-raised-button color="warn" (click)="insert()">SAVE</button>
    <button mat-raised-button color="primary" (click)="reset()">RESET</button>
  </div>
</mat-card>

<mat-card class="recomment" >
  <table class="detail">
    <th>ลำดับที่</th>
    <th>ชื่อผู้ใช้</th>
    <th>ชื่อผู้สอน</th>
    <th>กล้องถ่ายรูปที่ใช้</th>
    <th>ประเภทของกล้อง</th>
    <th>ประเภทการถ่ายรูป</th>
    <th>ระดับความสามารถของคุณ</th>
    <th>ตารางเรียน</th>
    <th>ข้อความถึงทีมงาน</th>
    <ng-container *ngFor="let comment of comments">
      <tr>
        <td>{{comment.reservationphotographer_id}}</td>
        <td>{{comment.member.name}}</td>
        <td>{{comment.photographer.photographer_name}}</td>
        <td>{{comment.typePhoto.typephoto_name}}</td>
        <td>{{comment.startTime.stratTime}}</td>
        <td>{{comment.finalTime.finalTime}}</td>
        <td class="cut">{{comment.reservation_date}}</td>
        <td>{{comment.promotionPhotographer.promotion_price}}</td>
        <td>{{comment.comment_photo}}</td>
      </tr>
    </ng-container>
  </table>

</mat-card>
</body>
</html>
