.basic-container {
  padding: 1px;
}

.databox{
      position: absolute;
      width: 100%;
      height: 900px;
      float: left;
      background-image: url('https://sv1.picz.in.th/images/2018/12/21/9wY6hQ.md.jpg');
      opacity: .8;
      color: #FF3399;
    }

.example-card {
      width: 50%;
      height: 700px;
      left: 23%;
      right: 50%;
      float: left;
     max-width: 1000px;
}
.example-card2 {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}
.example-header-image {
  background-image: url('https://www.img.in.th/images/0e7ac20f2f7c60394643b754dd6430e1.th.jpg');
  background-size: cover;
}

