<html>
<br><br><br><br><br><br><br><br>


    <mat-card class = "example-card2" style="background-color:#FFFFFF">
      <mat-card class = "example-card2" style="background-color:#003333">
        <mat-toolbar-row>
          <span class = "version-info" style="color:#FFFF99;" >Photo</span> &nbsp;
          <span class = "version-info" style="color:#99FF00;" >Studio</span> &nbsp;
          <span class = "version-info1" style="color:#CCFF66;" >Team10</span>
          <span class="example-fill-remaining-space"></span>
        </mat-toolbar-row>
      </mat-card>
      <br>
      <form class="example-form">

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Username" value="">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Password" value="">
        </mat-form-field>
        <br>

          <div class="example-full-width">
            <button mat-raised-button color="primary">Login</button>
            <button mat-raised-button color="warn" >Reset</button>
            <br>
            <a mat-button routerLink="." style="color:#33CC33;" routerLink="/register">CREATE ACCOUNT</a>
          </div>


      </form>
    </mat-card>





</html>

