<html>
<mat-card class = "basic-container" style="background-color:#003333">
  <mat-toolbar-row>
    <span class = "version-info" style="color:#FFFF99;" >Photo</span> &nbsp;
    <span class = "version-info" style="color:#99FF00;" >Studio</span> &nbsp;
    <span class = "version-info1" style="color:#CCFF66;" >Team10</span>
    <span class="example-fill-remaining-space"></span>
    <a mat-button routerLink="." style="color:#FFFFFF;" routerLink="">LOGOUT</a>
  </mat-toolbar-row>
</mat-card>
<mat-toolbar style="background-color:#003330">
  <span style="color:#FFFFFF;">WELCOME TO PHOTO STUDIO</span>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <mat-button-toggle-group #group="matButtonToggleGroup" style="background-color:#FFFFFF">
    <mat-button-toggle value="left" style="color:#000000;" (click)="home()">Home</mat-button-toggle>
  </mat-button-toggle-group>&nbsp;
  <mat-button-toggle-group #group="matButtonToggleGroup" style="background-color:#FFFFFF">
    <mat-button-toggle value="left" style="color:#000000;" (click)="studio()">Reservation Studio</mat-button-toggle>
  </mat-button-toggle-group>&nbsp;
  <mat-button-toggle-group #group="matButtonToggleGroup" style="background-color:#FFFFFF">
    <mat-button-toggle value="left" style="color:#000000;" (click)="equipment()">Reservation Equipment</mat-button-toggle>
  </mat-button-toggle-group>&nbsp;
  <mat-button-toggle-group #group="matButtonToggleGroup" style="background-color:#FFFFFF">
    <mat-button-toggle value="left" style="color:#000000;" (click)="photo()">Reservation Photographer</mat-button-toggle>
  </mat-button-toggle-group>&nbsp;
  <mat-button-toggle-group #group="matButtonToggleGroup" style="background-color:#FFFFFF">
    <mat-button-toggle value="left" style="color:#000000;" (click)="collect()">Reservatoion Photo Collection</mat-button-toggle>
  </mat-button-toggle-group>&nbsp;
  <mat-button-toggle-group #group="matButtonToggleGroup" style="background-color:#FFFFFF">
    <mat-button-toggle value="left" style="color:#000000;" (click)="model()">Reservation model</mat-button-toggle>
  </mat-button-toggle-group>&nbsp;

  <mat-divider></mat-divider>
</mat-toolbar>
<mat-toolbar style="background-color:#003330">
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <mat-button-toggle-group #group="matButtonToggleGroup" style="background-color:#FFFFFF">
    <mat-button-toggle value="left" style="color:#000000;" (click)="registerPhotography()">สมัครเรียนถ่ายรูป</mat-button-toggle>
  </mat-button-toggle-group>&nbsp;
  <mat-button-toggle-group #group="matButtonToggleGroup" style="background-color:#FFFFFF">
    <mat-button-toggle value="left" style="color:#000000;" (click)="payment()">Payment</mat-button-toggle>
  </mat-button-toggle-group>&nbsp;
  <mat-divider></mat-divider>
</mat-toolbar>
<body class = "box">

<br/>
<div >

<mat-card class="card">
  <p class="edit">โปรดเช็ครายชื่อตากล้องและเวลาที่มีคนจองจากด้านขวา</p>


  <mat-form-field class ="text">
    <mat-select placeholder="Select photographer" [(ngModel)]="photoSelect" name="photographer_name"[ngModelOptions]="{standalone: true}">
      <mat-option *ngFor="let photo of photos" [value]="photo.photographer_id">
        {{photo.photographer_name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <br><br>

  <mat-form-field class ="text">
    <mat-select placeholder="Select photo type" [(ngModel)]="typephotoSelect" name="typephoto_name"[ngModelOptions]="{standalone: true}">
      <mat-option *ngFor="let typephoto of typephotos" [value]="typephoto.typephoto_id">
        {{typephoto.typephoto_name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <br><br>


  <mat-form-field class ="text">
    <mat-select placeholder="Select promotion" [(ngModel)]="promotionphotoSelect" name="promotionphoto_name"[ngModelOptions]="{standalone: true}">
      <mat-option *ngFor="let promotion of promotionphotos" [value]="promotion.promotionphoto_id">
        {{promotion.promotionphoto_name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

<br><br>

  <mat-form-field class ="text">
    <mat-select placeholder="Select time" [(ngModel)]="starttimeSelect" name="stratTime"[ngModelOptions]="{standalone: true}">
      <mat-option *ngFor="let start of starttimes" [value]="start.id">
        {{start.stratTime}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br><br>
  <mat-form-field class ="texttime">
    <input matInput [matDatepicker]="picker" placeholder="วันที่จอง" style="color:black;" [(ngModel)]="time">
    <mat-datepicker-toggle matSuffix [for]="picker"style="color:black;"></mat-datepicker-toggle>
    <mat-datepicker #picker ></mat-datepicker>
  </mat-form-field>



  <br>

  <mat-form-field class="boxcomment">
    <textarea matInput [(ngModel)]="comment" [ngModelOptions]="{standalone: true}" type="text" #M  placeholder="รายละเอียดเพิ่มเติม เช่น สถานที่นัดพบ" ROWS="3" COLS="105"></textarea>
    <mat-hint align="end">{{M.value.length}} / 250</mat-hint>
  </mat-form-field>
  <br><br>

  <button mat-raised-button color="primary" class="botton-enter" (click)="enter()" >Enter</button>


</mat-card>
<mat-card class="recomment" >
  <p class="handdetel">รายละเอียดการจอง</p>
  <table class="detail">
    <th>No.</th>
    <th>Name</th>
    <th>Photographer</th>
    <th>Type</th>
    <th>times</th>
    <th>Date</th>
    <th>Price (THB)</th>
    <th>Detail</th>
    <ng-container *ngFor="let comment of comments">
      <tr>
        <td>{{comment.reservationphotographer_id}}</td>
        <td>{{comment.member.name}}</td>
        <td>{{comment.photographer.photographer_name}}</td>
        <td>{{comment.typePhoto.typephoto_name}}</td>
        <td class="cut">{{comment.startTime.stratTime}}</td>
        <td class="cut">{{comment.reservation_date}}</td>
        <td>{{comment.promotionPhotographer.promotion_price}}</td>
        <td>{{comment.comment_photo}}</td>
      </tr>
    </ng-container>
  </table>

</mat-card>
</div>

</body>
</html>
