<html>
<mat-card class = "basic-container" style="background-color:#003333">
  <mat-toolbar-row>
    <span class = "version-info" style="color:#FFFF99;" >Photo</span> &nbsp;
    <span class = "version-info" style="color:#99FF00;" >Studio</span> &nbsp;
    <span class = "version-info1" style="color:#CCFF66;" >Team10</span>
    <span class="example-fill-remaining-space"></span>
    <a mat-button routerLink="." style="color:#FFFFFF;" routerLink="">LOGOUT</a>
  </mat-toolbar-row>
</mat-card>
<mat-toolbar style="background-color:#003330">
  <span style="color:#FFFFFF;">WELCOME TO PHOTO STUDIO</span>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <mat-button-toggle-group #group="matButtonToggleGroup" style="background-color:#FFFFFF">
    <mat-button-toggle value="left" style="color:#000000;" (click)="home()">Home</mat-button-toggle>
  </mat-button-toggle-group>&nbsp;
  <mat-button-toggle-group #group="matButtonToggleGroup" style="background-color:#FFFFFF">
    <mat-button-toggle value="left" style="color:#000000;" (click)="studio()">Reservation Studio</mat-button-toggle>
  </mat-button-toggle-group>&nbsp;
  <mat-button-toggle-group #group="matButtonToggleGroup" style="background-color:#FFFFFF">
    <mat-button-toggle value="left" style="color:#000000;" (click)="equipment()">Reservation Equipment</mat-button-toggle>
  </mat-button-toggle-group>&nbsp;
  <mat-button-toggle-group #group="matButtonToggleGroup" style="background-color:#FFFFFF">
    <mat-button-toggle value="left" style="color:#000000;" (click)="photo()">Reservation Photographer</mat-button-toggle>
  </mat-button-toggle-group>&nbsp;
  <mat-button-toggle-group #group="matButtonToggleGroup" style="background-color:#FFFFFF">
    <mat-button-toggle value="left" style="color:#000000;" (click)="collect()">Reservatoion Photo Collection</mat-button-toggle>
  </mat-button-toggle-group>&nbsp;
  <mat-button-toggle-group #group="matButtonToggleGroup" style="background-color:#FFFFFF">
    <mat-button-toggle value="left" style="color:#000000;" (click)="model()">Reservation model</mat-button-toggle>
  </mat-button-toggle-group>&nbsp;

  <mat-divider></mat-divider>
</mat-toolbar>
<mat-toolbar style="background-color:#003330">
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <mat-button-toggle-group #group="matButtonToggleGroup" style="background-color:#FFFFFF">
    <mat-button-toggle value="left" style="color:#000000;" (click)="registerPhotography()">สมัครเรียนถ่ายรูป</mat-button-toggle>
  </mat-button-toggle-group>&nbsp;
  <mat-button-toggle-group #group="matButtonToggleGroup" style="background-color:#FFFFFF">
    <mat-button-toggle value="left" style="color:#000000;" (click)="payment()">Payment</mat-button-toggle>
  </mat-button-toggle-group>&nbsp;
  <mat-button-toggle-group #group="matButtonToggleGroup" style="background-color:#FFFFFF">
    <mat-button-toggle value="left" style="color:#000000;" (click)="review()">Review</mat-button-toggle>
  </mat-button-toggle-group>&nbsp;
  <mat-divider></mat-divider>
</mat-toolbar>
<body class = "box">

<br/>
<div >
  <mat-card class="card">

    <mat-form-field class="text">
      <input matInput [(ngModel)]="topic" [ngModelOptions]="{standalone: true}" type="text" #top maxlength="20"   placeholder="Topic" COLS="130">
      <mat-hint align="end">{{top.value.length}} / 20</mat-hint>
    </mat-form-field>
    <br>

    <mat-form-field class ="text">
      <mat-select placeholder="Select Payment" [(ngModel)]="paySelect" name="payment_id"[ngModelOptions]="{standalone: true}">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let payy of pays" [value]="payy.payment_id">
          {{payy.payment_id}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <br>

    <mat-form-field class ="text">
      <mat-select placeholder="Select System" [(ngModel)]="systemSelect" name="sytemstudio_name"[ngModelOptions]="{standalone: true}">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let systemm of systems" [value]="systemm.systemstudio_id">
          {{systemm.sytemstudio_name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>

    <mat-form-field class ="text">
      <mat-select placeholder="Select Score" [(ngModel)]="scoreSelect" name="score"[ngModelOptions]="{standalone: true}">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let ss of scores" [value]="ss.score_id">
          {{ss.score}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <br>

    <mat-form-field class="text">
      <textarea matInput [(ngModel)]="good" [ngModelOptions]="{standalone: true}" type="text" placeholder="สิ่งที่ประทับใจ" ></textarea>
    </mat-form-field>
    <br>

    <mat-form-field class="text">
      <textarea matInput [(ngModel)]="dis" [ngModelOptions]="{standalone: true}" type="text" placeholder="สิ่งที่ไม่ประทับใจ" ></textarea>
    </mat-form-field>
    <br>

    <mat-form-field class="text">
      <textarea matInput [(ngModel)]="commentre" [ngModelOptions]="{standalone: true}" type="text" placeholder="comment review"></textarea>
    </mat-form-field>
    <br>

    <mat-form-field class="text">
      <textarea matInput [(ngModel)]="direc" [ngModelOptions]="{standalone: true}" type="text" placeholder="เคยใช้ระบบนี้มาแล้วกี่ครั้ง?(โปรดกรอกเป็นตัวเลข)"></textarea>
    </mat-form-field>
    <br><br>

    <button mat-raised-button color="primary" class="text" (click)="enter()" >REVIEW</button>


  </mat-card>
  <br><br><br><br>  <br><br><br><br>  <br><br><br><br> <br><br><br><br>  <br><br><br><br>  <br><br><br><br>  <br><br><br><br>   <br><br><br><br>  <br><br><br><br> <br><br><br><br>
</div>
<div class="cardcom">
  <mat-card *ngFor="let commentre of commentres" class="boxment">
    <b>No: {{commentre.review_id}} </b>
    <b>{{commentre.topic}}</b>
    <mat-card-actions>
      <p>User: {{commentre.member.name}}</p>
      <p>System: {{commentre.systemName.sytemstudio_name}}</p>
      <p>Positive points: {{commentre.good_comment}}</p>
      <p>Negative points: {{commentre.dis_comment}}</p>
      <p>Comment: {{commentre.comment_review}}</p>
      <p>Number of uses: {{commentre.direction}}</p>
      <p>Score: {{commentre.score.score}}</p>
    </mat-card-actions>
  </mat-card>
</div>
</body>
</html>



