.basic-container {
  padding: 1px;
}

.box{
  position: absolute;
  width: 100%;
  float: left;
  opacity: .8;
  background-image: url('https://img.live/images/2018/12/23/p.jpg');
  color: #FF3399;
  height: 175%;
}
.card {
  height: 90%;
  float: left;
  left: 30%;
  width: 40%;
}
.text {
  width: 100%;
}
.botton-enter {
  left: 25%;
}
.botton-reset {
  left: 30%;
}
.boxcomment1{
  left: 27%;
  width: 45%;
}
.cardcom {
  position: absolute;
  width: 43.5%;
  left: 30%;
  float: left;
  overflow:auto;
  height: 29%;
}
.boxment {
  border-radius: 30px;
}
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-thumb{
  border-radius: 3px;
  background-color: grey;
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
}
