@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}
.basic-container {
  padding: 1px;
}
.version-info {
  float: center;
  font-size: 40px;
}
.version-info1 {
  font-size: 10px;
}
.example-fill-remaining-space {
  flex: 1 1 auto;
}
.example-fill{
  float: center;
}


