<html>

<mat-card class = "basic-container" style="background-color:#003333">
  <mat-toolbar-row>
    <span class = "version-info" style="color:#FFFF99;" >Photo</span> &nbsp;
    <span class = "version-info" style="color:#99FF00;" >Studio</span> &nbsp;
    <span class = "version-info1" style="color:#CCFF66;" >Team10</span>
    <span class="example-fill-remaining-space"></span>

    <a mat-button routerLink="." style="color:#FFFFFF;" routerLink="">LOGOUT</a>

  </mat-toolbar-row>
</mat-card>

<mat-toolbar style="background-color:#003330">
  <span style="color:#FFFFFF;">WELCOME TO PHOTO STUDIO</span>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <mat-button-toggle-group #group="matButtonToggleGroup" style="background-color:#FFFFFF">
    <mat-button-toggle value="left" style="color:#000000;" (click)="home()">Home</mat-button-toggle>
  </mat-button-toggle-group>&nbsp;
  <mat-button-toggle-group #group="matButtonToggleGroup" style="background-color:#FFFFFF">
    <mat-button-toggle value="left" style="color:#000000;" (click)="studio()">Reservation Studio</mat-button-toggle>
  </mat-button-toggle-group>&nbsp;
  <mat-button-toggle-group #group="matButtonToggleGroup" style="background-color:#FFFFFF">
    <mat-button-toggle value="left" style="color:#000000;" (click)="equipment()">Reservation Equipment</mat-button-toggle>
  </mat-button-toggle-group>&nbsp;
  <mat-button-toggle-group #group="matButtonToggleGroup" style="background-color:#FFFFFF">
    <mat-button-toggle value="left" style="color:#000000;" (click)="photo()">Reservation Photographer</mat-button-toggle>
  </mat-button-toggle-group>&nbsp;
  <mat-button-toggle-group #group="matButtonToggleGroup" style="background-color:#FFFFFF">
    <mat-button-toggle value="left" style="color:#000000;" (click)="collect()">Reservatoion Photo Collection</mat-button-toggle>
  </mat-button-toggle-group>&nbsp;
  <mat-button-toggle-group #group="matButtonToggleGroup" style="background-color:#FFFFFF">
    <mat-button-toggle value="left" style="color:#000000;" (click)="model()">Reservation model</mat-button-toggle>
  </mat-button-toggle-group>&nbsp;

  <mat-divider></mat-divider>
</mat-toolbar>
<mat-toolbar style="background-color:#003330">
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <mat-button-toggle-group #group="matButtonToggleGroup" style="background-color:#FFFFFF">
    <mat-button-toggle value="left" style="color:#000000;" (click)="registerPhotography()">สมัครเรียนถ่ายรูป</mat-button-toggle>
  </mat-button-toggle-group>&nbsp;
  <mat-button-toggle-group #group="matButtonToggleGroup" style="background-color:#FFFFFF">
    <mat-button-toggle value="left" style="color:#000000;" (click)="payment()">Payment</mat-button-toggle>
  </mat-button-toggle-group>&nbsp;
  <mat-divider></mat-divider>
</mat-toolbar>
<body class = "databox" >
<br>
<mat-card class="example-card">
<body class="cen">


    <br>
    <br>
    <br>
    <br>
    <br>
    <font>อุปกรณ์ถ่ายภาพ</font>
    <mat-form-field  style="width: 40%;">
      <mat-select placeholder="equipment" [(ngModel)]="equiSelect" name="equipment_ID">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let equi of equis" [value]="equi.equipment_id" >
          {{equi.equipment_name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <br>
    <br>
    <font>วันรับของ</font>
    <mat-form-field   style="width: 40%;">
      <input matInput [matDatepicker]="picker" placeholder="Choose a date" (focus) ="picker.open()" [(ngModel)] ="daterent" required name="date" #date>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <br>
    <br>
    <br>
    <font >เวลารับของ</font>
    <mat-form-field  style="width: 40%;" >
      <mat-select placeholder="timereceive" [(ngModel)]="timeSelect" name="timereceive_id">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let time of times" [value]="time.timereceive_id" >
          {{time.timereceive_name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <br>
    <font >กรอกรหัสประชาชน</font>
    <mat-form-field>
      <input matInput #input maxlength="13"  value="" [(ngModel)]="cardid1">
    </mat-form-field>
    <br>
    <button mat-fab color="primary"  class="enter" (click)= "insert()">Enter</button>


</body>
</mat-card>
<br>


</body>

</html>



