<html>
<br><br><br><br><br><br><br><br>


<mat-card class = "example-card2" style="background-color:#FFFFFF">
  <mat-card class = "example-card2" style="background-color:#003333">
    <mat-toolbar-row>
      <span class = "version-info" style="color:#FFFF99;" >Photo</span> &nbsp;
      <span class = "version-info" style="color:#99FF00;" >Studio</span> &nbsp;
      <span class = "version-info1" style="color:#CCFF66;" >Team10</span>
      <span class="example-fill-remaining-space"></span>
    </mat-toolbar-row>
  </mat-card>
  <br>
  <form class="example-form">
    <H2 class="example-full-width">login with admin</H2>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Username" [(ngModel)]="id"  [ngModelOptions]="{standalone: true}">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Password" ng-hide="showpassword" type="password" placeholder="PASSWORD" [(ngModel)]="password"  [ngModelOptions]="{standalone: true}">
    </mat-form-field>
    <br>

    <div class="example-full-width">
      <button mat-raised-button color="primary" (click)="login()">Login</button>
      <button mat-raised-button color="warn" (click)="reset()">Reset</button>
      <br>
    </div>

  </form>
</mat-card>
</html>

