<mat-card class = "basic-container" style="background-color:#003333">
  <mat-toolbar-row>
    <span class = "version-info" style="color:#FFFF99;" >Photo</span> &nbsp;
    <span class = "version-info" style="color:#99FF00;" >Studio</span> &nbsp;
    <span class = "version-info1" style="color:#CCFF66;" >Team10</span>
    <span class="example-fill-remaining-space"></span>

  </mat-toolbar-row>
</mat-card>

<mat-toolbar style="background-color:#003330" class="example-full-width">
  <span style="color:#FFFFFF;">REGISTER</span>
</mat-toolbar>


<body class="dataBox" >
<br><br><br>
<mat-card class="example-card">
<mat-form-field class="boxx" >
  <mat-select placeholder="คำนำหน้า" [(ngModel)]="titleSelect">
    <mat-option *ngFor="let title of titles" [value]="title.id">
      {{title.title}}</mat-option>
  </mat-select>
</mat-form-field>

&nbsp;&nbsp;

<mat-form-field class="example-full-width">
  <input matInput placeholder="name" [(ngModel)]="name">
</mat-form-field>

&nbsp;&nbsp;

<mat-form-field class="example-full-width">
  <input matInput placeholder="lastname" [(ngModel)]="lastname">
</mat-form-field>

<br>

<mat-form-field class="address">
  <textarea matInput placeholder="ที่อยู่" [(ngModel)]="address"></textarea>
</mat-form-field>

<br>

<mat-form-field class="example-full-width">
  <input matInput placeholder="ตำบล" [(ngModel)]="tambon">
</mat-form-field>

&nbsp;&nbsp;

<mat-form-field class="example-full-width">
  <input matInput placeholder="อำเภอ" [(ngModel)]="amphoe">
</mat-form-field>

&nbsp;&nbsp;

<mat-form-field class="example-full-width">
  <input matInput placeholder="จังหวัด" [(ngModel)]="province">
</mat-form-field>

<br>

<mat-form-field class="example-full-width">
  <input matInput placeholder="รหัสไปรษณีย์" maxlength="5" [(ngModel)]="postcode">
</mat-form-field>

&nbsp;&nbsp;

<mat-form-field class="boxx" >
  <mat-select placeholder="gender" [(ngModel)]="genderSelect">
    <mat-option *ngFor="let gender of genders" [value]="gender.id">
      {{gender.sex}}</mat-option>
  </mat-select>
</mat-form-field>

&nbsp;&nbsp;

<mat-form-field class="example-full-width">
  <input matInput placeholder="Tel:" maxlength="10" [(ngModel)]="tel">
</mat-form-field>


<br>

<mat-form-field class="example-full-width">
  <input matInput [matDatepicker]="picker" placeholder="วัน/เดือน/ปี เกิด"style="color:black;" [(ngModel)]="birthday">
  <mat-datepicker-toggle matSuffix [for]="picker"style="color:black;"></mat-datepicker-toggle>
  <mat-datepicker #picker ></mat-datepicker>
</mat-form-field>

<br>

<mat-form-field class="example-full-width">
  <input matInput placeholder="email" [(ngModel)]="email">
</mat-form-field>

<br>

<mat-form-field class="example-full-width">
  <input matInput placeholder="userid" [(ngModel)]="userid">
</mat-form-field>

<br>

<mat-form-field class="example-full-width">
  <input matInput placeholder="password" type="password" [(ngModel)]="password1">
</mat-form-field>

<br>

<mat-form-field class="example-full-width">
  <input matInput placeholder="re-password" type="password" [(ngModel)]="password2">
</mat-form-field>

<br>
<br>
<button mat-fab color="primary" class="enter" (click)="enter()">Enter</button> &nbsp;&nbsp;&nbsp;
<button mat-fab color="primary" class="enter" (click)="cancel()">cancel</button>
</mat-card>
</body>

