.topic{
    text-align: center;
    color:white;
    font-family: 'Prompt', sans-serif;
}

.boxx{
    text-align: center;
    color:white;
    font-family: 'Prompt', sans-serif;
}

body{
text-align: center;
  color:white;
  font-family: 'Prompt', sans-serif;
}

.example-full-width{
  font-family: 'Prompt', sans-serif;
}

 .enter{

text-align: center;
 }

 .address{
    font-family: 'Prompt', sans-serif;
    width: 40%;

 }
 .ccenter{
position: center;
 }



