.topic{
    text-align: center;
    color:white;
    font-family: 'Prompt', sans-serif;
}

.boxx{
    text-align: center;
    color:white;
    font-family: 'Prompt', sans-serif;
}

body{
text-align: center;
  color:white;
  font-family: 'Prompt', sans-serif;
}

.example-full-width{
  font-family: 'Prompt', sans-serif;
  text-align: center;
}

 .enter{

text-align: center;
 }

 .address{
    font-family: 'Prompt', sans-serif;
    width: 40%;

 }
 .ccenter{
position: center;
 }

 .basic-container {
   padding: 1px;
 }

.dataBox{
      position: absolute;
      width: 100%;
      height: 850px;
      float: left;
      background-image: url('https://img.live/images/2018/12/23/p.jpg');
      opacity: .8;
      color: #FF3399;
 }

 .example-card {
       width: 50%;
       height: 700px;
       left: 23%;
       right: 50%;
       float: left;
      max-width: 1000px;

 }
 .example-card2 {
     max-width: 400px;
     margin-left: auto;
     margin-right: auto;
 }
 .example-header-image {
   background-image: url('https://www.img.in.th/images/0e7ac20f2f7c60394643b754dd6430e1.th.jpg');
   background-size: cover;
 }





